@charset "gb2312";
/* CSS Document */

*{ padding:0; margin:0;}
body{ background:#eeeeee; font-family:'ו'; font-size:12px; text-align:center; margin:0 auto; color:#444444;}
a{ color:#004f87; text-decoration:none;}
ul{ list-style:none;}
img{ border:none;}
.layout{ width:1000px; text-align:center; margin:0 auto;}
#mainlogin{
	width:787px; height:306px;
	position: absolute;
left: 50%;
top: 50%;
margin-top: -223px;
margin-left: -393px;}
.nav{ padding-top:20px;  padding-left:7px; overflow:hidden; zoom:1;}
.nav li{ float:left; padding-right:8px; height:54px;}
.pnone{ padding-right:0;}
.tab1,.tab2,.tab3,.tab4,.tab5,.tab6,.tab7{width:103px; height:54px; display:inline-block; line-height:84px;  overflow:hidden;}
.tab1{ background:url(../image/all.gif) no-repeat left top; }
.tab2{ background:url(../image/all.gif) no-repeat -112px top; }
.tab3{ background:url(../image/all.gif) no-repeat -223px top; }
.tab4{ background:url(../image/all.gif) no-repeat -335px top; }
.tab5{ background:url(../image/all.gif) no-repeat -447px top; }
.tab6{ background:url(../image/all.gif) no-repeat -558px top; }
.tab7{ background:url(../image/all.gif) no-repeat -670px top; }
.hover{ background-image:url(../image/nav_hover.gif); color:#fff;}
.nav li a:hover{background-image:url(../image/nav_hover.gif); color:#fff;}
.mainlist{ background:url(../image/bg.gif) no-repeat; width:787px; height:304px; clear:both;}
.mainlist ul{ padding-top:45px; padding-left:70px;}
.mainlist ul li{ padding-bottom:20px; overflow:hidden; zoom:1;}
.name{ font-size:14px; font-weight:bold; margin-right:10px; height:38px; line-height:38px; float:left; text-align:right; width:120px;} 
.inputbg{ float:left;background:url(../image/all.gif) no-repeat left -54px;  width:370px; height:38px;}
.inputpwd{float:left;background:url(../image/all.gif) no-repeat left -92px;  width:370px; height:38px; }
.inputyzm{float:left;background:url(../image/all.gif) no-repeat left -130px;  width:122px; height:38px;}
.usertip,.pwdtip,.regmatip{ float:left; padding-top:12px; padding-left:15px; color:red; font-size:14px;letter-spacing:2px; display:none;}
.img{ float:left; padding-left:15px; padding-top:25px;}
.mainlist input{ border:none;  color:#444444; font-size:14px; background:none; width:320px; font-weight:bold;}
.mainlist input.user{padding:13px 10px 8px 40px;}
input[type="password"]{padding:11px 10px 10px 40px; }
#password,#passwd,#dbpasswd{_padding:9px 10px 8px 40px;}
.mainlist input.yzm{padding:10px 10px 10px 5px;width:107px; color:#444;}
.logbutton{ background:url(../image/line.gif) no-repeat; height:20px; padding-top:20px;}
.btn{ display:inline-block; background:url(../image/all.gif) no-repeat left -170px; width:122px; height:34px;}
.btn:hover{ background:url(../image/all.gif) no-repeat left -204px;}