<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<include file="Public:header"/>
</head>
<body>
<!--面包屑标签 开始-->
<div class="crumb_warp">
	<i class="fa fa-home"></i> <a href="#">首页</a> &raquo; <a href="{:U( 'Tags/taglist' )}">标签列表</a> &raquo; 编辑标签
</div>
<!--面包屑标签 结束-->

<!--结果集标题与标签组件 开始-->
<div class="result_wrap">
	<div class="result_title">
		<h3>快捷操作</h3>
	</div>
	<div class="result_content">
		<div class="short_wrap">
			<a href="{:U( 'Tags/addtag' )}"><i class="fa fa-plus"></i>新增标签</a>
		</div>
	</div>
</div>
<!--结果集标题与标签组件 结束-->

<div class="result_wrap">
	<form action="" method="post">
		<input type="hidden" name="tag_id" value="{$tag['tag_id']}">
		<table class="add_tab">
			<tbody>
			<tr>
				<th><i class="require">*</i>标签名字：</th>
				<td>
					<input type="text" name="tag_name" value="{$tag['tag_name']}">
				</td>
			</tr>
			<tr>
				<th>标签排序：</th>
				<td>
					<input type="text" style="width:30px;text-align: center;" name="tag_order" value="{$tag['tag_order']}">
					<span><i class="fa fa-exclamation-circle yellow"></i>标签排序方便调整标签位置，默认0</span>
				</td>
			</tr>
			<tr>
				<th></th>
				<td>
					<input type="button" onclick="_TagsubFromCheck()" value="确认修改">
					<input type="button" class="back" onclick="history.go(-1)" value="返回">
				</td>
			</tr>
			</tbody>
		</table>
	</form>
</div>

</body>
<script>
//	监听表单元素是否填写，自定义方法  开始
	function _TagsubFromCheck(){
		var tagName = $( "input[name='tag_name']" ).val();
		if( tagName == '' ){
			layer.alert( '请选择标签名字', {icon: 2});
			return false;
		}
		$( "form" ).submit();
	}
//	监听表单元素是否填写，自定义方法  结束
</script>
</html>