<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <include file="Public:header"/>
</head>
<body>
<!--面包屑导航 开始-->
<div class="crumb_warp">
    <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
    <i class="fa fa-home"></i> <a href="#">首页</a> &raquo; <a href="{:U('HelpCate/catelist')}">栏目列表</a> &raquo; 新增栏目
</div>
<!--面包屑导航 结束-->

<!--结果集标题与导航组件 开始-->
<div class="result_wrap">
    <div class="result_title">
        <h3>快捷操作</h3>
    </div>
    <div class="result_content">
        <div class="short_wrap">
            <a href="{:U('HelpCate/addcate')}"><i class="fa fa-plus"></i>新增栏目</a>
        </div>
    </div>
</div>
<!--结果集标题与导航组件 结束-->

<div class="result_wrap">
    <form action="" method="post">
        <table class="add_tab">
            <tbody>
            <tr>
                <th width="120"><i class="require">*</i>分类：</th>
                <td>
                    <select name="cate_pid">
                        <option value="0">=顶级栏目=</option>
                        <?php foreach( $cates as $vo ):?>
                        <option value="{$vo['cate_id']}">{$vo['cate_name']}</option>
                        <?php endforeach;?>
                    </select>
                </td>
            </tr>
            <tr>
                <th><i class="require">*</i>栏目名字：</th>
                <td>
                    <input type="text" name="cate_name" required>
                    <span><i class="fa fa-exclamation-circle yellow"></i>栏目标题</span>
                </td>
            </tr>
            <tr>
                <th>栏目seo关键词：</th>
                <td>
                    <input type="text" class="lg" name="cate_keywords" value="" required>
                    <span><i class="fa fa-exclamation-circle yellow"></i>网站栏目关键词</span>
                </td>
            </tr>
            <tr>
                <th>栏目seo描述：</th>
                <td>
                    <textarea name="cate_description" required></textarea>
                </td>
            </tr>
            <tr>
                <th>栏目排序：</th>
                <td>
                    <input type="text" style="width:30px;text-align: center;" name="nav_order" value="0">
                    <span><i class="fa fa-exclamation-circle yellow"></i>导航排序方便调整导航位置，默认0</span>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="button" onclick="_cateSubFromCheck()" value="提交">
                    <input type="button" class="back" onclick="history.go(-1)" value="返回">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
<script>
    //监听表单元素是否填写，自定义方法  开始
    function _cateSubFromCheck(){
        var catePid = $( "select[name='cate_pid']" ).val();
        if( catePid.length === 0 ){
            layer.alert( '请选择栏目分级', {icon: 2});
            return false;
        }
        var cateName = $( "input[name='cate_name']" ).val();
        if( cateName == '' ){
            layer.alert( '请选择栏目名字', {icon: 2});
            return false;
        }
        $( "form" ).submit();
    }
    //监听表单元素是否填写，自定义方法  结束
</script>
</html>