<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <include file="Public:header"/>
</head>
<body>
<!--面包屑导航 开始-->
<div class="crumb_warp">
    <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
    <i class="fa fa-home"></i> <a href="#">首页</a> &raquo; <a href="{:U( 'Conf/index' )}">网站配置</a> &raquo; 编辑配置
</div>
<!--面包屑导航 结束-->

<!--结果集标题与导航组件 开始-->
<div class="result_wrap">
    <div class="result_title">
        <h3>快捷操作</h3>
    </div>
    <div class="result_content">
        <div class="short_wrap">
            <a href="{:U( 'Conf/createConf' )}"><i class="fa fa-plus"></i>新增配置</a>
            <a href="{:U( 'Conf/editConf',array( 'conf_id'=>$conf['conf_id'] ) )}"><i class="fa fa-edit"></i>编辑配置</a>
        </div>
    </div>
</div>
<!--结果集标题与导航组件 结束-->

<div class="result_wrap">
    <form action="" method="post">
        <input type="hidden" name="conf_id" value="{$conf['conf_id']}">
        <table class="add_tab">
            <tbody>
            <tr>
                <th><i class="require">*</i>标题：</th>
                <td>
                    <input type="text" name="conf_title" value="{$conf['conf_title']}">
                    <span><i class="fa fa-exclamation-circle yellow"></i>标题必须填写</span>
                </td>
            </tr>
            <tr>
                <th><i class="require">*</i>名称：</th>
                <td>
                    <input type="text" name="conf_name" value="{$conf['conf_name']}">
                    <span><i class="fa fa-exclamation-circle yellow"></i>名称必须填写</span>
                </td>
            </tr>

            <tr>
                <th>类型：</th>
                <td>
                    <label for="input" ><input type="radio" id="input" name="field_type" <?php if($conf['field_type'] == 'input'){echo 'checked';}else{echo '';}?> checked onclick="" value="input">input &nbsp;</label>
                    <label for="textarea" ><input type="radio" id="textarea" name="field_type" <?php if($conf['field_type'] == 'textarea'){echo 'checked';}else{echo '';}?> onclick="" value="textarea">textarea &nbsp;</label>
                    <!--<label for="radio" ><input type="radio" id="radio" name="field_type" onclick="showTr()" value="radio">radio</label>-->
                    <span><label style="color:red;">*</label>类型：input textarea</span>
                </td>
            </tr>
            <tr>
                <th>类型值：</th>
                <td>
                    <switch name="conf.field_type" >
                        <case value="input">
                            <input type="text" class="lg" name="conf_content" value="{$conf['conf_content']}">
                        </case>
                        <case value="textarea">
                            <textarea name="conf_content" id="" cols="50" rows="5">{$conf['conf_content']}</textarea>
                        </case>
                    </switch>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="提交">
                    <input type="button" class="back" onclick="history.go(-1)" value="返回">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>