<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="__PUBLIC__/org/jquery.min.js"></script>
    <script src="__PUBLIC__/org/hdjs/hdjs.min.js"></script>
    <script src="__PUBLIC__/org/layer/layer.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/org/hdjs/hdjs.css">
    <link rel="stylesheet" href="__PUBLIC__/org/bootstrap.min.css">
</head>
<body>

<div class="hd-menu-list">
    <ul>
        <li class="active">
            <a href="{:U( 'Users/userslist_2' )}">军以下部队用户列表</a>
        </li>
        <li>
            <a href="{:U( 'Users/adduser' )}">添加军以下部队用户</a>
        </li>
    </ul>
</div>

<table class="hd-table hd-table-list">
    <thead>
    <tr>
        <td>用户编号</td>
        <td>用户名</td>
        <td>用户单位</td>
        <td>创建时间</td>
        <td>创建人</td>
        <td>修改密码时间</td>
        <td>修改操作人</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <?php foreach( $users as $vo ):?>
    <tr>
        <td>{$vo['user_id']}</td>
        <td>{$vo['username']}</td>
        <td>{$vo['userlocation']}</td>
        <td>{$vo['create_time']|date="Y-m-d H:i",###}</td>
        <td>{$vo['operator']}</td>
        <td>{$vo['change_pwd_time']|default=""|date="Y-m-d H:i",###}</td>
        <td>{$vo['change_operator']}</td>
        <td class="hd-w200">
            <a href="{:U( 'Users/edituser',array( 'user_id'=>$vo['user_id'] ) )}">重置密码</a>
            |
            <a href="javascript:del({$vo['user_id']});">删除</a>
        </td>
    </tr>
    <?php endforeach;?>
    </tbody>
</table>
<script>
    function del(user_id)
    {
        var user_id = user_id;
        layer.confirm('你确定删除吗', {
            btn: ['确认','取消'] //按钮
        }, function(){
            $.post( "{:U( 'Users/deluser' )}",{'user_id':user_id},function(e){
                if( e.code==0 ){
                    layer.msg(e.msg, {icon: 1});
                    setTimeout(function(){
                        location.href = location.href;
                    },2000)

                }else{
                    if( e.info ){
                        layer.alert( e.info, {icon: 2} );
                    }else{
                        layer.alert( e.msg, {icon: 2} );
                    }
                }
            });

        });
    }

    function changeOrder(obj,link_id){
        var link_order = $(obj).val();
        $.post( "{:U( 'Links/changeOrder' )}",{'link_order':link_order,'link_id':link_id},function(data){
            if( data.code == 0 ){
                layer.alert( data.msg, {icon: 1} );
            }else{
                if( data.info ){
                    layer.alert( data.info, {icon: 2} );
                }else{
                    layer.alert( data.msg, {icon: 2} );
                }
            }
        });
    }


</script>

</body>
</html>