<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<include file="Public:header"/>
</head>
<body>
<!--面包屑导航 开始-->
<div class="crumb_warp">
	<!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
	<i class="fa fa-home"></i> <a href="#">首页</a> &raquo; <a href="{:U('Article/articlelist')}">文章列表</a> &raquo; 编辑文章
</div>
<!--面包屑导航 结束-->

<!--结果集标题与导航组件 开始-->
<div class="result_wrap">
	<div class="result_title">
		<h3>快捷操作</h3>
	</div>
	<div class="result_content">
		<div class="short_wrap">
			<a href="{:U('Article/addart')}"><i class="fa fa-plus"></i>添加文章</a>
			<a href="{:U('Article/editart',array( 'cate_sitename'=>'chuanbo','art_id'=>$art['art_id'] ))}"><i class="fa fa-edit"></i>编辑文章</a>
		</div>
	</div>
</div>
<!--结果集标题与导航组件 结束-->

<div class="result_wrap">
	<form action="" method="post">
		<input type="hidden" name="art_id" value="{$art['art_id']}">
		<table class="add_tab">
			<tbody>
			<tr>
				<th width="120"><i class="require">*</i>选择栏目：</th>
				<td>
					<select name="cate_id">
						<option value="">=请选择=</option>
						<?php foreach( $cates as $vo ):?>
							<option value="{$vo['cate_id']}" <?php if( $art['cate_id'] == $vo['cate_id'] ){echo 'selected';}?> >{$vo['cate_name']}</option>
						<?php endforeach;?>
					</select>
				</td>
			</tr>
			<tr>
				<th><i class="require">*</i>文章标题：</th>
				<td>
					<input type="text" class="lg" name="art_title" value="{$art['art_title']}" required>
					<span><i class="fa fa-exclamation-circle yellow"></i>栏目标题</span>
				</td>
			</tr>
			<tr>
				<th>文章seo关键词：</th>
				<td>
					<input type="text" class="lg" name="art_keywords" value="{$art['art_keywords']}" required>
					<span><i class="fa fa-exclamation-circle yellow"></i>文章seo关键词,请用英文“,”号分隔</span>
				</td>
			</tr>
			<tr>
				<th>文章seo描述：</th>
				<td>
					<textarea style="float:left;margin-right:8px;" name="art_description" required>{$art['art_description']}</textarea>
					<span><i class="fa fa-exclamation-circle yellow"></i>文章seo描述</span>
				</td>
			</tr>
			<tr>
				<th>文章来源：</th>
				<td>
					<input type="text" name="art_editor" value="{$art['art_editor']}">
					<span><i class="fa fa-exclamation-circle yellow"></i>填写作者或者来源</span>
				</td>
			</tr>


			<tr>
                <th>文章封面图上传：</th>
                <td>
					<!--缩略图样式  开始-->
                    <style type="text/css">
						#mainpre{margin-right:20px;}
                        #mainpre img {width: 280px;height: 150px;}
						.up-btn-style{background:lightseagreen;border-radius: 5px;height:30px;line-height:30px;padding:0 10px;}
						#up-btn .fa-plus{color:#fff}
						#up-btn .up-font{color:#fff;margin-left:-5px;}
						.min-thumb{position:relative;width:200px;float:left;margin-right:35px;margin-bottom: 15px;}
						.min-del{background:rgba( 0,0,0,0.3 );text-align: center;cursor:pointer;position: absolute;top:0;right:0px;}
						.fa-times-circle{color:#fff;font-size:28px;margin-top: 5px;margin-left:5px;}
                    </style>
					<?php if( !empty( $art['art_thumb'] ) ):?>
                        <div id='mainpre'style="margin-right:20px;">
							<div class="001 min-thumb" style="width:280px;">
								<img src="{$art['art_thumb']}">
								<input type="hidden" class="yuantu" name="art_thumb" value="{$art['art_thumb']}">
								<span onclick="delPic(this)" class="min-del">
									<i class="fa fa-times-circle"></i>
								</span>
							</div>
                        </div>
                        <span id="up-btn" class="btn btn-success fileinput-button btn-sm up-btn-style" style="display: none;" style="">
							<input type="thumb">
							<i class="fa fa-plus"></i>
							<span class="up-font">上传文章封面图</span>
							<!-- 上传按钮 -->
							<input id="mainfileupload" type="file" name="">
						</span>
                    <?php else:?>
                        <div id='mainpre'style=""></div>
                        <span id="up-btn" class="btn btn-success fileinput-button btn-sm up-btn-style" style="">
							<input type="thumb">
							<i class="fa fa-plus"></i>
							<span class="up-font">上传文章封面图</span>
							<!-- 上传按钮 -->
							<input id="mainfileupload" type="file" name="">
						</span>
                    <?php endif;?>
					<!--缩略图样式  结束-->
                    <span><i class="fa fa-exclamation-circle yellow"></i>文章封面规格：10*10，系统给出一张默认图【测试文字，具体按网站封面规格说明】</span>
                    <!-- 上传成功文件显示区 -->
                    <div id="mainfiles" class="files"></div>
                    <link rel="stylesheet" href="__PUBLIC__/org/uploadify/css/jquery.fileupload.css">
                    <script src="__PUBLIC__/org/uploadify/js/vendor/jquery.ui.widget.js"></script>
                    <script src="__PUBLIC__/org/uploadify/js/jquery.iframe-transport.js"></script>
                    <script src="__PUBLIC__/org/uploadify/js/jquery.fileupload.js"></script>
                    <script>
                        $(function () {
                            $('#mainfileupload').fileupload({
                                url: "{:U( 'Article/artUpCover' )}",
                                dataType: 'json',
                                done: function (e, res) {
                                    if( res.result.status == 2 ){
                                        layer.alert( res.result.msg, {icon: 2});
                                        return;
                                    }
                                    if( res.result.status == 1 ){
                                        //显示上传成功的缩略图
                                        var html = "<div class='001' style='position:relative;width:300px;float:left;margin-right:35px;margin-bottom: 15px;'>" +
												"<img src='" + res.result.datas + "'/>" +
												"<input type='hidden' class='yuantu' name='ban_url' value='" + res.result.datas + "'>" +
												"<span onclick='delPic(this)' style='background:rgba( 0,0,0,0.3 );text-align: center;cursor:pointer;position: absolute;top:0;right:0px;'>" +
													'<i class="fa fa-times-circle" style="color:#fff;font-size:28px;margin-top: 5px;margin-left:5px;"></i></span>' +
												"</div>";
                                        $("#mainpre").append(html);
                                        $( "#up-btn" ).hide();
                                        $("#ban_url").val(res.result.datas);
                                    }
                                }
                            });
                        });

                        function delPic(obj) {
                            var dizhi = $('.yuantu').val();
                            $.post("{:U('Article/deleteArtImg')}", {'pic': dizhi}, function (data) {
                                if (data.code == 1) {
                                    $(obj).parents('.001').eq(0).remove();
                                    $("#ban_url").val( '' );
                                    $( "#up-btn" ).show();
									layer.msg( "旧图片已经移除，请上传新图");
                                } else if( data.code == 2 ){
									$(obj).parents('.001').eq(0).remove();
                                    $("#ban_url").val( '' );
                                    $( "#up-btn" ).show();
									layer.msg( "默认图片已经移除，请上传新图");
								} else {
                                    alert('网络延时，稍后再试！');
                                }
                            });
                            return false;
                        }
                    </script>
                </td>
            </tr>




			<tr>
				<th>文章内容：</th>
				<td>
					<script type="text/javascript" charset="utf-8" src="__PUBLIC__/org/ueditor/ueditor.config.js"></script>
					<script type="text/javascript" charset="utf-8" src="__PUBLIC__/org/ueditor/ueditor.all.min.js"></script>
					<script type="text/javascript" charset="utf-8" src="__PUBLIC__/org/ueditor/lang/zh-cn/zh-cn.js"></script>
					<style>
						.edui-default{line-height: 28px;}
						div.edui-combox-body,div.edui-button-body,div.edui-splitbutton-body{
							overflow: hidden;height:20px;
						}
						div.edui-box{overflow: hidden;height: 22px;}
					</style>
					<script type="text/javascript">
						$(document).ready(function(){
							var ue = UE.getEditor('editor');
						})
					</script>
					<script id="editor" name="art_content" type="text/plain" style="width:900px;height:400px;">{$art['art_content']}</script>
				</td>
			</tr>
			<tr>
				<th></th>
				<td>
					<input type="button" onclick="_artSubFromCheck()" value="确认修改">
					<input type="button" class="back" onclick="history.go(-1)" value="返回">
				</td>
			</tr>
			</tbody>
		</table>
	</form>
</div>

</body>
<script>
	//监听表单元素是否填写，自定义方法  开始
	function _artSubFromCheck(){
		var cateId = $( "select[name='cate_id']" ).val();
		if( cateId.length == 0 ){
			layer.msg( '请选择选择栏目');
			return false;
		}
		var artName = $( "input[name='art_title']" ).val();
		if( artName == '' ){
			layer.msg( '请填写文章标题');
			return false;
		}
		$( "form" ).submit();
	}
	//监听表单元素是否填写，自定义方法  结束
</script>
</html>